{% extends 'base\base.html' %}
{% block title %}
<title>CRUD View</title>
{% endblock %}

<body>
    {% block content %}
    <div class="container">
        <h2  class="text-white">DJANGO CRUD PAGE </h2>
        <p class="text-white">Make Create Read Update Delete Your Belongs </p>
        <div class="table-responsive">
            <table class="table table-bordered table-dark text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <h2>Notes</h2>
                        </th>
                        <th><a href="{% url 'crud' %}"><button class="btn btn-success btn-block me-2 my-2"
                                    style="width: 100%;">Back</button></a>
                        </th>

                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <th>
                            
                            <h5>Title</h5>
                        </th>
                        <td>{{cs.title}}</td>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            <h5>Description</h5>
                        </th>
                        <td class="text-start">{{cs.description}}</td>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
</body>