{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>index</title>
{% endblock title %}

{% block content %}
<body style="background-color: #092e20;">
<div class="container">
    {% if request.user.is_authenticated %}
    <div class="" style="text-align: center; padding-top: 30px; padding-bottom: 30%;">
        <h1 class=""><a style="color: aquamarine;" href="{% url 'crud' %}"> Create New</a></h1>
    </div>
    {% else %}
    <div class="container">

        <div class="" style="text-align: center; padding-top: 30px;">
            <h3 style="color: aquamarine;">Welcome to Dajngo Crud, This is my first Django Crud application </h3> <br>
            <h3 style="color: aquamarine;">Login | Register to Access the site</h3>
            <div class="" style="display: grid; justify-content:center ; align-items: center;">
                <div class="container"
                    style="display: flex; justify-content: center; align-items: center; gap: 40px; padding-top: 20px;">
                    <a class="text-white px-5 py-2" style="border: solid 2px whitesmoke; border-radius: 8px;"
                        href="{% url 'login' %}">Login</a>
                    <a class="text-white px-5 py-2" style="border: solid 2px whitesmoke; border-radius: 8px;"
                        href="{% url 'reg' %}">Register</a>
                </div>
                <div class="p-4" style="display: flex; justify-content: space-evenly; ">
                    <img src="{% static 'media\sc1.png' %}" style="width: 45%; object-fit: contain; border: solid 1px white; border-radius: 5px;" alt="">
                    <img src="{% static 'media\sc2.png' %}" style="width: 45%; object-fit: contain; border: solid 1px white; border-radius: 5px;" alt="">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</body>
{% endblock %}
